.KXa {
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #CCCCCC;
	text-decoration: none;
	background-image: url(../image/bga.png);
	background-repeat: repeat-x;
	height: 33px;
	width: 50px;
}
.TimeCss {
	color: #33CCFF;
}
