.Xros {
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-decoration: none;
	background-image: url(../image/bga2.png);
	background-repeat: repeat;
	height: 55px;
	width: 98px;
	color: #000000;
}
.Xros2 {
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-decoration: none;
	background-image: url(../image/bga2.png);
	background-repeat: repeat;
	height: 55px;
	width: 188px;
	color: #000000;
}
.TimeCss {
	font-size: 14px;
	color: #33CCFF;
}
.ZiA {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
